<div class="max-w-3xl mx-auto px-4">
  <div class="bg-white p-6 rounded-lg shadow-md">
    <h1 class="text-3xl font-bold mb-6 text-center">Edit Book</h1>
    <%= render "form", book: @book %>
  </div>
</div>