<div class="max-w-md mx-auto">
  <h1 class="text-3xl font-bold mb-6 text-center">New Book</h1>

  <div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md">
    <%= render "form", book: @book %>
  </div>
</div>